harvester/Ilc.SampleHarvester.AdventureWorks/Ilc.SampleHarvester.AdventureWorks/Service References/SampleService/SampleService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SampleService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://ilc-develop.azurewebsites.net/sampleservice/SampleService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://ilc-develop.azurewebsites.net/sampleservice/SampleService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ilc-develop.azurewebsites.net/sampleservice/SampleService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ilc.BusinessObjects.Common" />
      <xsd:import schemaLocation="http://ilc-develop.azurewebsites.net/sampleservice/SampleService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Ilc.BusinessObjects" />
      <xsd:import schemaLocation="http://ilc-develop.azurewebsites.net/sampleservice/SampleService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISampleService_LoadCompanyByName_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadCompanyByName" />
  </wsdl:message>
  <wsdl:message name="ISampleService_LoadCompanyByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadCompanyByNameResponse" />
  </wsdl:message>
  <wsdl:message name="ISampleService_LoadCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadCompany" />
  </wsdl:message>
  <wsdl:message name="ISampleService_LoadCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="ISampleService_LoadCompanyByContactEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadCompanyByContactEmail" />
  </wsdl:message>
  <wsdl:message name="ISampleService_LoadCompanyByContactEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadCompanyByContactEmailResponse" />
  </wsdl:message>
  <wsdl:message name="ISampleService_ExtendCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:ExtendCompany" />
  </wsdl:message>
  <wsdl:message name="ISampleService_ExtendCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExtendCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="ISampleService_LoadContactsByCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadContactsByCompany" />
  </wsdl:message>
  <wsdl:message name="ISampleService_LoadContactsByCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadContactsByCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="ISampleService_LoadProductByCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadProductByCompany" />
  </wsdl:message>
  <wsdl:message name="ISampleService_LoadProductByCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadProductByCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="ISampleService_GetProductPhoto_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductPhoto" />
  </wsdl:message>
  <wsdl:message name="ISampleService_GetProductPhoto_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductPhotoResponse" />
  </wsdl:message>
  <wsdl:portType name="ISampleService">
    <wsdl:operation name="LoadCompanyByName">
      <wsdl:input wsaw:Action="http://tempuri.org/ISampleService/LoadCompanyByName" message="tns:ISampleService_LoadCompanyByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISampleService/LoadCompanyByNameResponse" message="tns:ISampleService_LoadCompanyByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/ISampleService/LoadCompany" message="tns:ISampleService_LoadCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISampleService/LoadCompanyResponse" message="tns:ISampleService_LoadCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadCompanyByContactEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/ISampleService/LoadCompanyByContactEmail" message="tns:ISampleService_LoadCompanyByContactEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISampleService/LoadCompanyByContactEmailResponse" message="tns:ISampleService_LoadCompanyByContactEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExtendCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/ISampleService/ExtendCompany" message="tns:ISampleService_ExtendCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISampleService/ExtendCompanyResponse" message="tns:ISampleService_ExtendCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadContactsByCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/ISampleService/LoadContactsByCompany" message="tns:ISampleService_LoadContactsByCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISampleService/LoadContactsByCompanyResponse" message="tns:ISampleService_LoadContactsByCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadProductByCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/ISampleService/LoadProductByCompany" message="tns:ISampleService_LoadProductByCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISampleService/LoadProductByCompanyResponse" message="tns:ISampleService_LoadProductByCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductPhoto">
      <wsdl:input wsaw:Action="http://tempuri.org/ISampleService/GetProductPhoto" message="tns:ISampleService_GetProductPhoto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISampleService/GetProductPhotoResponse" message="tns:ISampleService_GetProductPhoto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISampleService" type="tns:ISampleService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoadCompanyByName">
      <soap:operation soapAction="http://tempuri.org/ISampleService/LoadCompanyByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadCompany">
      <soap:operation soapAction="http://tempuri.org/ISampleService/LoadCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadCompanyByContactEmail">
      <soap:operation soapAction="http://tempuri.org/ISampleService/LoadCompanyByContactEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExtendCompany">
      <soap:operation soapAction="http://tempuri.org/ISampleService/ExtendCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadContactsByCompany">
      <soap:operation soapAction="http://tempuri.org/ISampleService/LoadContactsByCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadProductByCompany">
      <soap:operation soapAction="http://tempuri.org/ISampleService/LoadProductByCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductPhoto">
      <soap:operation soapAction="http://tempuri.org/ISampleService/GetProductPhoto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SampleService">
    <wsdl:port name="BasicHttpBinding_ISampleService" binding="tns:BasicHttpBinding_ISampleService">
      <soap:address location="http://ilc-develop.azurewebsites.net/sampleservice/SampleService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>