harvester/Ilc.SampleHarvester.AdventureWorks/Ilc.SampleHarvester.AdventureWorks/Service References/SampleService/SampleService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ilc-develop.azurewebsites.net/sampleservice/SampleService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ilc.BusinessObjects.Common" />
  <xs:import schemaLocation="http://ilc-develop.azurewebsites.net/sampleservice/SampleService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="LoadCompanyByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadCompanyByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Ilc.BusinessObjects.Common" minOccurs="0" name="LoadCompanyByNameResult" nillable="true" type="q1:ArrayOfCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="businessEntityId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Ilc.BusinessObjects.Common" minOccurs="0" name="LoadCompanyResult" nillable="true" type="q2:Company" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadCompanyByContactEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadCompanyByContactEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Ilc.BusinessObjects.Common" minOccurs="0" name="LoadCompanyByContactEmailResult" nillable="true" type="q3:ArrayOfCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtendCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Ilc.BusinessObjects.Common" minOccurs="0" name="company" nillable="true" type="q4:Company" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtendCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Ilc.BusinessObjects.Common" minOccurs="0" name="ExtendCompanyResult" nillable="true" type="q5:Company" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadContactsByCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Ilc.BusinessObjects.Common" minOccurs="0" name="company" nillable="true" type="q6:Company" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadContactsByCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Ilc.BusinessObjects.Common" minOccurs="0" name="LoadContactsByCompanyResult" nillable="true" type="q7:ArrayOfContactPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadProductByCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Ilc.BusinessObjects.Common" minOccurs="0" name="company" nillable="true" type="q8:Company" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadProductByCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Ilc.BusinessObjects.Common" minOccurs="0" name="LoadProductByCompanyResult" nillable="true" type="q9:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductPhoto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductPhotoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetProductPhotoResult" nillable="true" type="q10:ArrayOfArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>